/*! Social Likes v3.1.0 by Artem Sapegin - http://sapegin.github.com/social-likes - Licensed MIT */
.social-likes {
    display: inline-block
}

.social-likes, .social-likes__widget {
    padding: 0;
    vertical-align: middle !important;
    word-spacing: 0 !important;
    text-indent: 0 !important;
    list-style: none !important
}

.social-likes {
    opacity: 0
}

.social-likes_visible {
    opacity: 1;
    transition: opacity .1s ease-in
}

.social-likes > * {
    display: inline-block;
    visibility: hidden
}

.social-likes_vertical > * {
    display: block
}

.social-likes_visible > * {
    visibility: inherit
}

.social-likes__widget {
    display: inline-block;
    position: relative;
    white-space: nowrap
}

.social-likes__widget:before, .social-likes__widget:after {
    display: none !important
}

.social-likes_vertical .social-likes__widget {
    float: left;
    clear: left
}

.social-likes__button, .social-likes__icon, .social-likes__counter {
    text-decoration: none;
    text-rendering: optimizeLegibility
}

.social-likes__button {
    display: inline-block;
    margin: 0;
    outline: 0
}

.social-likes__counter {
    margin: 0;
    outline: 0
}

.social-likes__button {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.social-likes__button:before {
    content: "";
    display: inline-block
}

.social-likes__icon {
    position: absolute;
    top: 0;
    left: 0
}

.social-likes__counter {
    display: none;
    position: relative
}

.social-likes_ready .social-likes__counter, .social-likes__counter_single {
    display: inline-block
}

.social-likes_ready .social-likes__counter_empty {
    display: none
}

.social-likes_vertical .social-likes__widget {
    display: block
}

.social-likes_notext .social-likes__button {
    padding-left: 0
}

.social-likes_single-w {
    position: relative;
    display: inline-block
}

.social-likes_single {
    position: absolute;
    text-align: left;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .11s, opacity .1s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.social-likes_single.social-likes_opened {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s ease-out
}

.social-likes__button_single {
    position: relative
}

.social-likes {
    min-height: 36px;
    margin: -6px
}

.social-likes, .social-likes_single-w {
    line-height: 19px
}

.social-likes__widget {
    margin: 6px;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 19px
}

.social-likes__widget:hover, .social-likes__widget:active, .social-likes__widget:focus {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    cursor: pointer
}

.social-likes__button, .social-likes__counter {
    vertical-align: middle;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    cursor: inherit
}

.social-likes__button {
    padding: 1px 6px 1px 20px;
    font-weight: 400;
    border-right: 0
}

.social-likes__icon {
    width: 20px;
    height: 18px;
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.social-likes__counter {
    min-width: 12px;
    padding: 1px 4px;
    font-weight: 400;
    text-align: center;
    border-left: 1px solid #ccc
}

.social-likes__widget:hover > .social-likes__counter, .social-likes__widget:focus > .social-likes__counter, .social-likes__widget:active > .social-likes__counter, .social-likes__widget_active > .social-likes__counter {
    position: relative;
    border-left-color: transparent
}

.social-likes__widget:hover > .social-likes__counter:before, .social-likes__widget:focus > .social-likes__counter:before, .social-likes__widget:active > .social-likes__counter:before, .social-likes__widget_active > .social-likes__counter:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    border-left: 1px solid;
    opacity: .4
}

.social-likes_vertical {
    margin: -6px
}

.social-likes_vertical .social-likes__widget {
    margin: 6px
}

.social-likes_notext {
    margin: -3px
}

.social-likes_notext .social-likes__widget {
    margin: 3px
}

.social-likes_notext .social-likes__button {
    width: 18px
}

.social-likes_notext .social-likes__icon {
    width: 100%;
    background-position: center center
}

.social-likes__widget_single {
    margin: 0
}

.social-likes_single {
    margin: -12px 0 0;
    padding: 4px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px
}

.social-likes__single-container {
    width: 100%;
    display: table
}

.social-likes_single .social-likes__widget {
    float: none;
    display: table-row;
    margin: 0;
    border: 0;
    border-radius: 0;
    background: 0 0
}

.social-likes_single .social-likes__button {
    display: block;
    padding: 2px 6px 2px 24px
}

.social-likes_single .social-likes__icon {
    margin-left: 4px;
    margin-top: 2px
}

.social-likes_single .social-likes__counter {
    display: table-cell;
    padding: 2px 8px 2px 4px;
    border-left: 0;
    text-align: right
}

.social-likes_single .social-likes__widget:hover > .social-likes__counter:before, .social-likes_single .social-likes__widget:focus > .social-likes__counter:before, .social-likes_single .social-likes__widget:active > .social-likes__counter:before {
    display: none
}

.social-likes__icon_single {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAaElEQVR42mIxL/zLgATkgXgBECcC8QOYIBOagvVA7ADEa4FYAV0RIxDPAeIUKD8VygeJM7BABf8DsScQ/4HyzwGxB1QcrKgByUpk9h8YnwlJElkBiiYmBiIAbRUx0s46FizhgwEAAgwAkmYQfIjC7tcAAAAASUVORK5CYII=")
}

.social-likes__widget_single:hover, .social-likes__widget_single:active, .social-likes__widget_single:focus, .social-likes__widget_active {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #3673f4;
    border-color: #3673f4;
    color: #fff
}

.social-likes__widget_single:hover .social-likes__icon_single, .social-likes__widget_single:active .social-likes__icon_single, .social-likes__widget_single:focus .social-likes__icon_single, .social-likes__widget_active .social-likes__icon_single {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAYklEQVR42mL4//8/AxKWB+L9QKyALI6u4Nx/CDiLrBCmgBGIdwOxEVQRiN4DFWcAE1DAAsR/gBgkwIjEBzMaGBAAmf0Hzgea1IDm+P9o/AYmBiIAbRUx0s46FizhgwEAAgwAAJd9Vn3NlgwAAAAASUVORK5CYII=")
}

.social-likes__icon_facebook {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaklEQVR42mJ0Cp7jycDAMBeIJRnwg+dAnMxEpGIGqJq5THgULwFicSBmBGJbmCYWPCYWAvEbdEF8GmCK/yMLMjGQCLBpsIW6GwaQ/UC6Ddj8cBjJZOr44TkJ6l+ANKSAGEQofgpKGgABBgAWcxAZp2KpkQAAAABJRU5ErkJggg==")
}

.social-likes__widget_facebook:hover, .social-likes__widget_facebook:active, .social-likes__widget_facebook:focus {
    background: #425497;
    border-color: #425497
}

.social-likes__widget_facebook:hover .social-likes__icon_facebook, .social-likes__widget_facebook:active .social-likes__icon_facebook, .social-likes__widget_facebook:focus .social-likes__icon_facebook {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAaUlEQVR42mL6//+/JxA/+08YgNR4MoIYDAwMkgzEgedMeBQvAWJxIGYEYluomCQLHtMKgfgNuiA+DTDF/5EFmRhIBNg02ELdDQPIfiDdBlCw/sclRzU/PCdB/QuQhhQQgwjFT4E4GSDAAMuiQX7Tr7YFAAAAAElFTkSuQmCC")
}

.social-likes__icon_twitter {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAA9ElEQVR42mKU3vqak4GB4TcQ/2HABFxAXA3EzkD8DIjbgfg+ECuwAIkwIHYD4gSoAchgORD7IfEDgPgpEGczAQlBII4C4kNAbIikSAqIfdEMYgRiMSD+B7JxJ9SZFkB8Foj3A/FWIP4KVYgO5gHxFpBGNSA+DsS2UIVOUIwLfAYRIKe+gGoiFpyDaTwJxEVA/J0ITd+hXgNrBIETMCcQADOA+D26RpCn/+LRdAuI62EcmMb/0IjOx6H5ATSu4a4ChaoPEMcAsTUQy6Bp+AfEy4C4EIjfIEuANG4B4rvQVKEOTWYfoKG3HYgfoluvPm8jA0CAAQAqvDQ/IXqkWQAAAABJRU5ErkJggg==")
}

.social-likes__widget_twitter:hover, .social-likes__widget_twitter:active, .social-likes__widget_twitter:focus {
    background: #00b7ec;
    border-color: #00b7ec
}

.social-likes__widget_twitter:hover .social-likes__icon_twitter, .social-likes__widget_twitter:active .social-likes__icon_twitter, .social-likes__widget_twitter:focus .social-likes__icon_twitter {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAQAAAD4iURRAAAAo0lEQVQYGQXBsSoEAACA4Z8YKIO6yXLzjYrkHS5Wm5GyYPMAUgarMikpGZQHsFh4BZPhJi9wJdzn+7JkQZJk2bl3TzYNbGTfvUVJ8gyYmdjJMd6sS9bMAHwbZ+QHMy9OHQDgWtn1CgAALpUtAADAnpITUwAAU6tKtn0BALiSkjkXfgHAhxUpybwjvwA+DSVl7MEEwJ87A0lKRs7cenTj0FCSpH8xHAhkcGt6PAAAAABJRU5ErkJggg==")
}

.social-likes__icon_plusone {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAABD0lEQVR42nTSsUtCURTH8eszSGgIgkqSoHBQh7QpbAlBcRCJ2staHFoa+hNyzqXBoan+gMDdoWgymkwkBxMiggo3a3Cp76WfcJHXgQ/nvfveue+ewwt08luGmEEdcwgjZP7iFrtmIqaUn5SXkUEDA+wZn/CwgQgetHYjC+JbZCOANWf9VXmobDd+c4vu8YgoalhFFpf4VL8rmMW8vR/3lEQV2yijhUO99KzeQ7p+95wjneAMQcRQ1JfsNA/wrc1T46KaznyMJqZxrcIvdNRf3957Gm8JO0ggjRx+cKpN21h0B7GJDw3EOGPvYuQ3ctvgC+K4w7nOfoQlFP4rsg+usI4Lrff0Z7QnCyqpffMrwAC15jTuOMaeqQAAAABJRU5ErkJggg==")
}

.social-likes__widget_plusone:hover, .social-likes__widget_plusone:active, .social-likes__widget_plusone:focus {
    background: #dd4241;
    border-color: #dd4241
}

.social-likes__widget_plusone:hover .social-likes__icon_plusone, .social-likes__widget_plusone:active .social-likes__icon_plusone, .social-likes__widget_plusone:focus .social-likes__icon_plusone {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAA5klEQVR42myRvQrCMBSFUyehmyC4Zte1OPoALi6+gy/j6uobiINbF3Fx6tDFpZtSUFzEPxQxnksPchty4WvSJPeek5vIOWcQMViCFuiApqliDUbGD0kCeyLzAfiAI4i5VkM+CfiChdpIXRU2lNSgYAR6ysCB441jAkrfXs7KM1YXq3PuicUxuIO2/GvZKSh4n4xrcugKniwq88L3O+GmVB0GlKxWElsl2IEt1d4qsctu/ruXskqiFKXtL2WzRiQJ6McJWO8Jc/AA/dDj7niPDb2LpRU4e+q1x7VMkM5cSMZ7mBA/AQYALgmaWsDGGiQAAAAASUVORK5CYII=")
}

.social-likes__icon_mailru {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8XunISbFxmQ5UYqGIj9KMztLCyTKrMZCs7K1U7NSLBRloWb+AREmFpPF7GUzRBaymGLpV5bi+9RzM+XU595zT+85533PueHTXhC1BFaRx6DHnnGEbbxoIPSEFCp+l3DjCWOYc38FFzEe7Tj3Dlr5AG0OWscA6jhFX5zHmgO1+oy3V0AHirhHGZ36jjnnknfaxzKmMIxdTKMHO0pPE/px6cA7nAV/bQsfXky7fmtCqA5a8Bn8bz/WqlhNaCCDE0xivCk459zfMKq6VPQxCth0wTUfcZdr+UIaWVR1D0k6115lFkNYwLuPeB4beFUm0cVN4NCnoaBb5z3iDFTfIx7Cpl+j23eyiF6Pqb4lXEVBvwIMAGRTP1kwMI3TAAAAAElFTkSuQmCC")
}

.social-likes__widget_mailru:hover, .social-likes__widget_mailru:active, .social-likes__widget_mailru:focus {
    background: #255896;
    border-color: #255896;
    color: #ffcd00
}

.social-likes__widget_mailru:hover .social-likes__icon_mailru, .social-likes__widget_mailru:active .social-likes__icon_mailru, .social-likes__widget_mailru:focus .social-likes__icon_mailru {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAABIElEQVR42mTSzytEURjG8Xtn0IyIDc1SFpJQ5EdN1ChLC6PJFCsWsvInKCvFQllYKPaaZpIpC83CntkgsrBSLP1K2Wh8n3pupubU5865p/c9533PnbBWDaLRijWsYMBrLyhiF69aCJ3Qg7J/j3DrhDFkPV/FuRKSTK6RQAbtmMEPCojjxGv9TTw2XIJ2n/PxN2jDFh5wjA69x1yzytBJB1hCGsPYxyxS2FN5SuhDxYH3OAv+xw4+vZlO/VVCqAma8RU0jpq1KFYJz5jCKSYxXhe87NrfMaq+1HQJ69h2w5e+4k738o1BTONC19rNpOpd5jGEHD5wiAVs4k2VRB9uwneectCd6x5xBervCY9h3V+jy99kEb1eU395XEVBfwIMAE0mQy9JLJUSAAAAAElFTkSuQmCC")
}

.social-likes__icon_vkontakte {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAsElEQVR42mKJLJ3tycDAMBeIJRnwg+dAnMxEpGIGqJq5TGiKGZEwSE4ViDcha2LCYpIREK8C4l4gfgLElciSLDisDgXi/0A8DYi58GkA8Y8AsQkQfwHie0C8BVkBupO4kWyIBWJxIE4D4u/4nKQMxOVQ9jcgbgPii0BsgUvDIyCeBcR/gHgFVI00PhsuA3E61Lkg2xYAsSyyhudIcfGBQOS9AJmSAmIQEdNPQUkDIMAA8iAe2OyimvEAAAAASUVORK5CYII=")
}

.social-likes__widget_vkontakte:hover, .social-likes__widget_vkontakte:active, .social-likes__widget_vkontakte:focus {
    background: #526e8f;
    border-color: #526e8f
}

.social-likes__widget_vkontakte:hover .social-likes__icon_vkontakte, .social-likes__widget_vkontakte:active .social-likes__icon_vkontakte, .social-likes__widget_vkontakte:focus .social-likes__icon_vkontakte {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAfUlEQVQYGQXBMQ4BUQAFwGej0P1aohJCJBpcwu6N1AqVTqFX6TSu4B4if2+gNGZirwIAqPZRAQBADSAiBmYeQACxcXc2sgICiA4/MzsggKFia6HxBAIolk6Oxia+EEDRgYN4QQDF2tXF1NAbAigiGnM3ICoAAOij1QMA+Gj/aNf4AJYJLVIAAAAASUVORK5CYII=")
}

.social-likes__icon_odnoklassniki {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAyElEQVR42kzPMQtBcRTG4UvKQmalZFNKDNdm5gsYFCUlCbMyGMwsfACLzRcw2EwsGJTBQAZlUgxsfidvceq5/3vPeTv3Xs99FHMoP3ooOd+aoo+3T40hmnjouYsQWl4uEdRxRkLO6kVsQwB23nDRBruP2swGJ+zgYqKAq97JAi8UMUNFgb16LwvUkEYHcQUOaGNjgTKyaGCrQErn0gJVpQt/g6teObbfPGKAp/Orp3pH25DEHGGsFchghbxXXxvEAjlZqFf8CDAAgr4qyqKlfhgAAAAASUVORK5CYII=");
    background-position: 6px 3px
}

.social-likes__widget_odnoklassniki:hover, .social-likes__widget_odnoklassniki:active, .social-likes__widget_odnoklassniki:focus {
    background: #f6903b;
    border-color: #f6903b
}

.social-likes__widget_odnoklassniki:hover .social-likes__icon_odnoklassniki, .social-likes__widget_odnoklassniki:active .social-likes__icon_odnoklassniki, .social-likes__widget_odnoklassniki:focus .social-likes__icon_odnoklassniki {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAQAAAD1lzQWAAAAgElEQVQIHQXBoRGCAAAF0N80OoA0AxTHcQMncAaO7J1ndRCbgUDRbPCgMABEjnu+F7FRGwxqG4m4YTLhJrG36BUKvcU+SnQiOpSx9cHDAx/biMoP/FQSZ3cnFxcnd+d4YfX2tuIVB1cjGF0dIgpf8FVIHI1otRgdozF72tl5mjV/486WhTdrOooAAAAASUVORK5CYII=")
}

.social-likes__icon_pinterest {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAYAAAB/9ZQ7AAABCUlEQVR42nTRPUvDUBTG8ZtoKYogTsGCoAXtUqFuBR1c/AZddNbRQUqhH0Eo6KKDb0gpXQUHBxF0Kg6KFAWh4qI4KxQRtKXxf+C5OEgP/Ehu8uTclwSN0VmnWsE6shjEF05QwZMFQr04QB3vKOmjGlZxiZxTcE0Pi9jCGD402xnOsYNF67yBGwWP8IaCwhe4xjxmLDyNUySxjGGk3F/5Wcb9Rib04FNLu9LYmk2ih1cbVLXmKXTRwoPCc8jgES/WpYymlhOpSxoxdjXTNn7spo19nYbN1ME9hjTexLE/OqsAC/jGknYf6Yxv/U592LrkcYdn+VehrgmM4ND1r8CHB7CnX96v4l8BBgB54jWa5GM+bAAAAABJRU5ErkJggg==")
}

.social-likes__widget_pinterest:hover, .social-likes__widget_pinterest:active, .social-likes__widget_pinterest:focus {
    background: #cc002b;
    border-color: #cc002b
}

.social-likes__widget_pinterest:hover .social-likes__icon_pinterest, .social-likes__widget_pinterest:active .social-likes__icon_pinterest, .social-likes__widget_pinterest:focus .social-likes__icon_pinterest {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAQAAADV/FywAAAAvklEQVQYGQXBsUoUAACA4f/i8MBB0TdINCQQhHoDaXRzagkkopYGhRYfwKWhSYLDZ2ixNyiTVp1cXMQgaDpNsa6v70vy3DcTt34ZeyRlaIzPXnvpAy6tK2+wIwuSZ/75Yphz3+XQjS3JVzwOe0Z+463kCBu58dHIT/fW5IEzUys58NeqK6eSJ/44NZM5r2yaurTkoRNsK8kuLlybYt9AycAnd5a98M5TScmsH44lSVIyb2JbkiSDZNF7I0mS9B8IOsS5z/yrNgAAAABJRU5ErkJggg==")
}

.tp001 {
    color: white;
    text-decoration: none;
}

footer {
    background: #1b1b1b none repeat scroll 0 0;
    color: rgba(255, 255, 255, 0.8);
}

.footer .pageContent {
    background: rgba(255, 255, 255, 0.024) none repeat scroll 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 5px solid #6cb2e4;
    color: #646464;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    margin: 15px 0;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .pageContent {
    color: #646464;
    font-size: 14px;
    line-height: 50px;
}

.pageWidth {
    margin: 0 auto;
    max-width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
}

.footerLinks {
    float: right;
}

.footer .pageContent {
    color: #646464;
    font-size: 14px;
    line-height: 50px;
}

.footerLinks li {
    float: left;
}

.footer a, .footer a:visited {
    color: white;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

#XenForo a:link {
    word-break: inherit;
}

a:link {
    word-break: break-all;
}

.footer a, .footer a:visited {
    color: #FFFFFF !important;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

a:link, a:visited {
    color: rgb(23, 96, 147);
    text-decoration: none;
}

.bigFooter .pageContent {
    background: rgba(255, 255, 255, 0.024) none repeat scroll 0 0;
    border-radius: 2px;
    clear: both;
    color: rgb(101, 165, 209);
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.pageWidth {
    margin: 0 auto;
    max-width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
}

.bigFooter .pageContent {
    color: rgb(101, 165, 209);
}

.hasFlexbox .bigFooterRow--mainRow {
    display: flex;
    flex-wrap: wrap;
}

.bigFooterRow--mainRow {
    margin-left: -15px;
    margin-right: -15px;
}

.bigFooterCol {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(255, 255, 255, 0.05);
    border-image: none;
    border-style: solid;
    border-width: 0 0 0 1px;
    box-sizing: border-box;
    display: table-cell;
    line-height: 90%;
    padding: 15px;
    vertical-align: top;
}

li {
    list-style: outside none none;
}

.section {
    margin: 15px auto;
}

.bigFooterHeader {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bigFooterCol .footerMenu {
    margin-bottom: 10px;
}

.bigFooterCol {
    line-height: 90%;
    width: 377px;
}

#XenForo a:link {
    word-break: inherit;
}

.bigFooterCol .footerMenu a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: block;
    padding: 10px;
    font-size: 14px;
}

a:link {
    word-break: break-all;
}

.bigFooterCol a {
    color: white;
    text-decoration: none;
}

#copyright {
    text-align: left;
    color: rgb(100, 100, 100);
    float: left;
    font-size: 14px;
}

.footerLegal .pageContent {
    border-radius: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    clear: both;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.pageWidth {
    margin: 0 auto;
    max-width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
}

.footerLegal .uix_socialMediaLinks {
    float: right;
}

.uix_socialMediaLinks .uix_socialLink {
    display: inline-block;
    vertical-align: top;
}

.tp001 {
    color: #FFFFFF;
}
.uix_icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.footerLinks .topLink .uix_icon {
    vertical-align: top;
}
.footerLinks li {
    float: left;
}
#toTop::after {
    background: #1b1b1b none repeat scroll 0 0;
    content: "";
    height: 12px;
    left: 13px;
    position: absolute;
    top: 18px;
    width: 10px;
}
#toTop::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #1b1b1b;
    border-image: none;
    border-style: solid;
    border-width: 11px;
    content: "";
    height: 0;
    left: 7px;
    position: absolute;
    top: -4px;
    width: 0;
}
#toTop {
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 40px;
    color: #333;
    cursor: pointer;
    display: none;
    font-size: 11px;
    padding: 18px;
    position: fixed;
    right: 20px;
    text-align: center;
}
#headerMover #header {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
#header {
}
.navTabs {
    font-size: 12px;
}
.navTabs {
    background-color: #0076B1;
    font-size: 12px;
    height: 55px;
    padding: 0 25px;
    margin-bottom: -6px;
}
.pageWidth {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1300px;
}
.navTabs {
    font-size: 12px;
}
#header .pageWidth .pageContent::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#header .pageWidth .pageContent {
}
#navigation .pageContent {
    height: 82px;
    position: relative;
}
#navigation .pageContent {
    height: 55px;
    position: relative;
}
#logoBlock {
    padding-left: 5px;
}
#logoBlock {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
#logo {
    display: block;
    float: left;
    height: 55px;
    line-height: 55px;
    max-width: 100%;
    vertical-align: middle;
}
a:link, a:visited {
    color: #176093;
    text-decoration: none;
    transition: all 0.2s linear 0s;
}
#logo {
    line-height: 55px;
}
#logo img {
    height: 40px;
    margin-top: -3px;
}
#logo img {
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
fieldset, img {
    border: 0 none;
}
.navTabs .publicTabs {
    float: left;
}
element.style {
    display: list-item;
}
.navTabs .navTab.PopupClosed {
    position: relative;
    transition: background-color 0.3s linear 0s;
}
.navTabs .navTab {
    float: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
li {
    list-style: outside none none;
}
.navTabs .navTab {
    float: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
.nav-new {
    position: relative;
    z-index: 1000000000;
}
.navTabs .navTab.selected .navLink {
    background-color: rgb(255, 255, 255);
    color: rgb(163, 96, 10);
    position: relative;
}
.navTabs .publicTabs .navLink {
    padding: 0 15px;
}
.navTabs .navLink, .navTabs .SplitCtrl {
    display: block;
    float: left;
    height: 55px;
    line-height: 55px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-bottom;
}
.nav-new a {
    color: #fff;
    font-size: 12px;
}
.navTabs .navTab {
    overflow-wrap: normal;
    white-space: nowrap;
}
.navTabs .navTab.selected .blockLinksList {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin-left: 8px;
    padding: 0;
}
.navTabs .navTab {
    float: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
.nav-new {
    position: relative;
    z-index: 1000000000;
}
.navTabs .navTab.PopupClosed {
    position: relative;
    transition: background-color 0.3s linear 0s;
}
.navTabs .navTab {
    float: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
.nav-new ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #363b3f;
    border-image: none;
    border-style: solid;
    border-width: 5px 1px 1px;
    display: none;
    min-width: 220px;
    position: absolute;
    top: 55px;
}
.blockLinksList {
    font-size: 11px;
    padding: 2px;
}
.navTabs .visitorTabs {
    float: right;
}
.navTabs .navTab.account .navLink {
    font-weight: bold;
}
.navTabs .navTab.PopupOpen .navLink {
    color: rgb(163, 96, 10);
}
.navTabs .visitorTabs .navLink {
    padding: 0 10px;
}
.navTabs .navLink, .navTabs .SplitCtrl {
    display: block;
    float: left;
    height: 55px;
    line-height: 55px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-bottom;
}
.navTabs .navTab {
    overflow-wrap: normal;
    white-space: nowrap;
}
.Popup .PopupControl.PopupOpen, .Popup.PopupContainerControl.PopupOpen {
    background-color: rgb(255, 255, 255);
    color: #2b485c;
}
.navTabs .navTab {
    float: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
.Popup .PopupControl, .Popup.PopupContainerControl {
    cursor: pointer;
    display: inline-block;
}
.Popup {
    position: relative;
}
element.style {
    display: block;
    left: 905.5px;
    position: fixed;
    top: 54px;
    visibility: visible;
}
#AccountMenu {
    width: 274px;
}
.Menu {
    border-top: 5px solid #6d3f03;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    display: none;
    font-size: 11px;
    min-width: 200px;
    overflow: hidden;
    position: absolute;
    z-index: 7500;
}
#AccountMenu .menuHeader {
    position: relative;
}
.Menu .primaryContent {
    background-color: rgba(255, 255, 255, 0.96);
}
.Menu .menuHeader {
    overflow: hidden;
}
.primaryContent {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(229, 229, 229);
    padding: 10px;
}
.navTabs .navTab.PopupClosed {
    position: relative;
    transition: background-color 0.3s linear 0s;
}
.navTabs .navTab {
    float: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
.Popup .PopupControl, .Popup.PopupContainerControl {
    cursor: pointer;
    display: inline-block;
}
.Popup {
    position: relative;
}
a.concealed:hover, .concealed a:hover {
    text-decoration: underline;
}
.xenPreviewTooltip .previewContent {
    min-height: 1em;
    overflow: hidden;
}
.importantMessage {
    background-color: #fff4e5;
    border: 1px solid #f9bc6d;
    border-radius: 5px;
    color: #6d3f03;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}
.importantMessage a {
    color: #6d3f03;
    font-weight: bold;
}
.section {
    margin: 10px auto;
}
.sectionMain {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}
.heading, .xenForm .formHeader {
    background-color: #65a5d1;
    border-bottom: 1px solid #176093;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(247, 247, 247);
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 3px;
    padding: 5px 10px;
}
.formPopup {
    background-color: rgb(255, 255, 255);
    width: 250px;
}
.formPopup form, .formPopup .ctrlUnit {
    margin: 5px auto;
}
.formPopup .ctrlUnit {
}
.formPopup .textCtrl, .formPopup .button {
    width: 232px;
}
.formPopup .ctrlUnit > dt label {
    display: block;
    margin-bottom: 2px;
}
.formPopup .submitUnit dd {
    text-align: center;
}
.formPopup .ctrlUnit > dd .explain {
    margin: 2px 0 0;
}
.formPopup .primaryControls {
    overflow-wrap: normal;
    padding: 0 5px;
    white-space: nowrap;
}
.formPopup .primaryControls input.textCtrl {
    margin-bottom: 0;
}
.formPopup .secondaryControls {
    padding: 0 5px;
}
.formPopup .advSearchLink:hover {
    background-color: rgb(229, 229, 229);
    text-decoration: none;
}
#header {
}
#header .pageWidth .pageContent {
}
#header .pageWidth .pageContent::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#logoBlock {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
#logo {
    display: block;
    float: left;
    height: 55px;
    line-height: 55px;
    max-width: 100%;
    vertical-align: middle;
}
#logo img {
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
#visitorInfo {
    background: rgb(221, 221, 221) none repeat scroll 0 0;
    border: 1px solid #032a46;
    border-radius: 5px;
    color: #032a46;
    float: right;
    margin: 10px 0;
    min-width: 250px;
    overflow: hidden;
    padding: 5px;
}
#visitorInfo .avatar {
    display: block;
    float: left;
}
#visitorInfo .avatar .img {
    border-color: #65a5d1;
}
#visitorInfo .username {
    color: #032a46;
    font-size: 18px;
    overflow-wrap: normal;
    text-shadow: 1px 1px 10px white;
    white-space: nowrap;
}
#toTop {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 40px;
    color: #333;
    cursor: pointer;
    display: none;
    font-size: 11px;
    padding: 18px;
    position: fixed;
    right: 20px;
    text-align: center;
}
#toTop::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent rgb(163, 96, 10);
    border-image: none;
    border-style: solid;
    border-width: 11px;
    content: "";
    height: 0;
    left: 7px;
    position: absolute;
    top: -4px;
    width: 0;
}
#toTop::after {
    background-color: rgb(163, 96, 10);
    content: "";
    height: 12px;
    left: 13px;
    position: absolute;
    top: 18px;
    width: 10px;
}
@media (max-width: 600px) {
    #toTop {
        display: none;
    }
}
.breadBoxTop, .breadBoxBottom {
    box-sizing: border-box;
    clear: both;
    overflow: hidden;
    padding: 10px 0;
}
.breadBoxTop {
}
.breadBoxTop .topCtrl {
    float: right;
    line-height: 24px;
    margin-left: 5px;
}
.breadcrumb {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    font-size: 11px;
    height: 24px;
    max-width: 100%;
    overflow: hidden;
}
.breadcrumb.showAll {
    height: auto;
}
.breadcrumb .boardTitle {
    display: none;
}
.breadcrumb .crust {
    display: block;
    float: left;
    max-width: 50%;
    position: relative;
}
.breadcrumb .crust a.crumb {
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    display: block;
    line-height: 24px;
    margin-bottom: -1px;
    outline: 0 none;
    padding: 0 10px 0 18px;
    text-decoration: none;
}
.breadcrumb .crust a.crumb > span {
    display: block;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.breadcrumb .crust:first-child a.crumb, .breadcrumb .crust.firstVisibleCrumb a.crumb {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 10px;
}
.breadcrumb .crust:last-child a.crumb {
    font-weight: bold;
}
.breadcrumb .crust .arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: rgb(221, 221, 221);
    -moz-border-top-colors: none;
    border-color: transparent black transparent rgb(221, 221, 221);
    border-image: none;
    border-style: solid none solid solid;
    border-width: 12px 1px 12px 12px;
    display: block;
    height: 0;
    position: absolute;
    right: -12px;
    top: 0;
    width: 0;
    z-index: 50;
}
.breadcrumb .crust .arrow span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: rgb(247, 247, 247);
    -moz-border-top-colors: none;
    border-color: transparent black transparent rgb(247, 247, 247);
    border-image: none;
    border-style: solid none solid solid;
    border-width: 12px 1px 12px 12px;
    display: block;
    height: 0;
    left: -13px;
    overflow: hidden;
    position: absolute;
    text-indent: 9999px;
    top: -12px;
    white-space: nowrap;
    width: 0;
    z-index: 51;
}
.breadcrumb .crust:hover a.crumb {
    background-color: rgb(229, 229, 229);
}
.breadcrumb .crust:hover .arrow span {
    border-left-color: rgb(229, 229, 229);
}
.breadcrumb .crust .arrow {
}
.breadcrumb .jumpMenuTrigger {
    background: transparent url("styles/vnxf2016/xenforo/xenforo-ui-sprite.png") no-repeat scroll 0 0;
    display: block;
    float: right;
    height: 13px;
    margin: 5px 5px 6px;
    overflow: hidden;
    text-indent: 9999px;
    white-space: nowrap;
    width: 13px;
}
@media (max-width: 480px) {
    .Responsive .breadBoxTop.withTopCtrl {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .Responsive .breadBoxTop.withTopCtrl nav {
        display: table-header-group;
    }
    .Responsive .breadBoxTop.withTopCtrl .topCtrl {
        display: table-footer-group;
        margin-top: 5px;
        text-align: right;
    }
}
#navigation .pageContent {
    height: 55px;
    position: relative;
}
#navigation .menuIcon {
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-indent: -9999px;
    width: 16px;
}
#navigation .PopupOpen .menuIcon::before, #navigation .navLink .menuIcon::before {
}
#navigation .menuIcon::before {
    border-bottom: 2px solid;
    border-top: 6px double;
    content: "";
    font-size: 18px;
    height: 2px;
    left: 0;
    position: absolute;
    top: 1.3em;
    width: 16px;
}
.navTabs {
    background-color: rgb(163, 96, 10);
    font-size: 12px;
    height: 55px;
    padding: 0 25px;
}
.navTabs .publicTabs {
    float: left;
}
.navTabs .visitorTabs {
    float: right;
}
.navTabs .navTab {
    float: left;
    overflow-wrap: normal;
    white-space: nowrap;
}
.navTabs .navLink, .navTabs .SplitCtrl {
    display: block;
    float: left;
    height: 55px;
    line-height: 55px;
    outline: 0 none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: text-bottom;
}
.navTabs .publicTabs .navLink {
    padding: 0 15px;
}
.navTabs .visitorTabs .navLink {
    padding: 0 10px;
}
.navTabs .navLink:hover {
    text-decoration: none;
}
.navTabs .navTab.PopupClosed {
    position: relative;
    transition: background-color 0.3s linear 0s;
}
.navTabs .navTab.PopupClosed .navLink {
    color: #fff;
}
.navTabs .navTab.PopupClosed:hover {
    background-color: rgb(255, 255, 255);
}
.navTabs .navTab.PopupClosed .navLink:hover {
    color: rgb(163, 96, 10);
}
.navTabs .navTab.PopupClosed .arrowWidget {
    background-position: -64px 0;
}
.navTabs .navTab.PopupClosed .SplitCtrl {
    margin-left: -14px;
    width: 14px;
}
.navTabs .navTab.PopupClosed:hover .SplitCtrl {
    background: transparent url("styles/vnxf2016/xenforo/xenforo-ui-sprite.png") no-repeat scroll -128px 20px;
}
.navTabs .navTab.selected .navLink {
    background-color: rgb(255, 255, 255);
    color: rgb(163, 96, 10);
    position: relative;
}
.navTabs .navTab.selected .SplitCtrl {
    display: none;
}
.navTabs .navTab.selected .arrowWidget {
    background-position: -32px 0;
}
.navTabs .navTab.selected.PopupOpen .arrowWidget {
    background-position: -16px 0;
}
.navTabs .navTab.PopupOpen .navLink {
    color: rgb(163, 96, 10);
}
.navTabs .navTab.selected.PopupOpen .navLink {
    background-color: rgb(255, 255, 255);
    color: rgb(163, 96, 10);
}
.navTabs .navTab.selected .tabLinks {
    background-color: rgb(255, 255, 255);
    background-position: 0 -55px;
    border: medium none;
    height: 55px;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 57px;
    width: 100%;
}
.navTabs .navTab.selected .blockLinksList {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin-left: 8px;
    padding: 0;
}
.withSearch .navTabs .navTab.selected .blockLinksList {
    margin-right: 275px;
}
.navTabs .navTab.selected .tabLinks .menuHeader {
    display: none;
}
.navTabs .navTab.selected .tabLinks li {
    float: left;
    padding: 2px 0;
}
.navTabs .navTab.selected .tabLinks a {
    color: #fff;
    display: block;
    font-size: 11px;
    line-height: 49px;
    padding: 1px 10px;
}
.navTabs .navTab.selected .tabLinks .PopupOpen a {
    color: inherit;
    text-shadow: none;
}
.navTabs .navTab.selected .tabLinks a:hover, .navTabs .navTab.selected .tabLinks a:focus {
    background-color: rgb(229, 229, 229);
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    color: #2b485c;
    outline: 0 none;
    padding: 0 9px;
    text-decoration: none;
}
.navTabs .navTab.selected .tabLinks .Popup a:hover, .navTabs .navTab.selected .tabLinks .Popup a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: transparent;
    border-radius: 0;
    color: inherit;
    text-shadow: none;
}
.navTabs .navLink .itemCount {
    background-color: #e03030;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 9px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    min-width: 12px;
    overflow-wrap: normal;
    padding: 0 2px;
    position: absolute;
    right: 2px;
    text-align: center;
    text-shadow: none;
    top: -5px;
    white-space: nowrap;
}
.navTabs .navLink .itemCount .arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e03030 transparent black;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 3px 1px;
    bottom: -3px;
    height: 0;
    line-height: 0;
    position: absolute;
    right: 4px;
    text-shadow: none;
    width: 0;
}
.navTabs .navLink .itemCount.Zero {
    display: none;
}
.navTabs .navLink .itemCount.ResponsiveOnly {
    display: none;
}
.NoResponsive #VisitorExtraMenu_Counter, .NoResponsive #VisitorExtraMenu_ConversationsCounter, .NoResponsive #VisitorExtraMenu_AlertsCounter {
    display: none;
}
.navTabs .navTab.account .navLink {
    font-weight: bold;
}
.navTabs .navTab.account .navLink strong, .navTabs .navTab.account .navLink span {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
}
.navTabs .navTab.account .avatar img {
    border: medium none;
    box-shadow: none;
    display: block;
    height: 20px;
    width: 20px;
}
.navTabs .navTab.account .navLink .accountUsername {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: inherit;
}
#AccountMenu {
    width: 274px;
}
#AccountMenu .menuHeader {
    position: relative;
}
#AccountMenu .menuHeader .avatar {
    float: left;
    margin-right: 10px;
}
#AccountMenu .menuHeader .visibilityForm {
    color: #176093;
    margin-top: 10px;
}
#AccountMenu .menuHeader .links .fl {
    bottom: 10px;
    left: 116px;
    position: absolute;
}
#AccountMenu .menuHeader .links .fr {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
#AccountMenu .menuColumns {
    overflow: hidden;
    padding: 2px;
}
#AccountMenu .menuColumns ul {
    float: left;
    max-height: none;
    overflow: hidden;
    padding: 0;
}
#AccountMenu .menuColumns a, #AccountMenu .menuColumns label {
    width: 115px;
}
#AccountMenu .statusPoster textarea {
    margin: 0;
    overflow: hidden;
    resize: vertical;
    width: 245px;
}
#AccountMenu .statusPoster .submitUnit {
    margin-top: 5px;
    text-align: right;
}
#AccountMenu .statusPoster .submitUnit .statusEditorCounter {
    float: left;
    height: 23px;
    line-height: 23px;
}
.navPopup {
    width: 260px;
}
.navPopup a:hover, .navPopup .listItemText a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    text-decoration: underline;
}
.navPopup .menuHeader .InProgress {
    display: block;
    float: right;
    height: 20px;
    width: 20px;
}
.navPopup .listPlaceholder {
    max-height: 350px;
    overflow: auto;
}
.navPopup .listPlaceholder ol.secondaryContent {
    padding: 0 10px;
}
.navPopup .listPlaceholder ol.secondaryContent.Unread {
    background-color: rgb(255, 255, 200);
}
.navPopup .listItem {
    border-bottom: 1px solid rgb(229, 229, 229);
    overflow: hidden;
    padding: 5px 0;
}
.navPopup .listItem:last-child {
    border-bottom: medium none;
}
.navPopup .PopupItemLinkActive:hover {
    background-color: rgb(229, 229, 229);
    border-radius: 5px;
    cursor: pointer;
    margin: 0 -8px;
    padding: 5px 8px;
}
.navPopup .avatar {
    float: left;
}
.navPopup .avatar img {
    height: 32px;
    width: 32px;
}
.navPopup .listItemText {
    margin-left: 37px;
}
.navPopup .listItemText .muted {
    font-size: 9px;
}
.navPopup .unread .listItemText .title, .navPopup .listItemText .subject {
    font-weight: bold;
}
.navPopup .sectionFooter .floatLink {
    float: right;
}
.nav-new {
    position: relative;
    z-index: 1000000000;
}
.nav-new a {
    color: #fff;
    font-size: 14px;
}
.nav-new:hover {
    background: #fff none repeat scroll 0 0;
}
.nav-new:hover a {
    color: #363b3f;
}
.nav-new ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #363b3f;
    border-image: none;
    border-style: solid;
    border-width: 5px 1px 1px;
    display: none;
    min-width: 220px;
    position: absolute;
    top: 55px;
}
.nav-new .NoPopupGadget {
    display: none;
}
.nav-new:hover ul, .nav-new:hover ul li {
    display: block;
}
@media (max-width: 800px) {
    .Responsive .navTabs .navTab.account .navLink strong.itemCount, .Responsive .navTabs .navTab.account .navLink span {
        display: none;
    }
}
@media (max-width: 610px) {
    .Responsive .navTabs {
        padding-left: 10px;
        padding-right: 10px;
    }
    .Responsive .withSearch .navTabs .navTab.selected .blockLinksList {
        margin-right: 50px;
    }
}
@media (max-width: 480px) {
    .Responsive.hasJs .navTabs:not(.showAll) .publicTabs .navTab:not(.selected):not(.navigationHiddenTabs) {
        display: none;
    }
}
#navigation .pageContent {
    height: 82px;
    position: relative;
}
#navigation .menuIcon {
    display: inline-block;
    font-size: 18px;
    position: relative;
    text-indent: -9999px;
    width: 16px;
}
#navigation .PopupOpen .menuIcon::before, #navigation .navLink .menuIcon::before {
}
#navigation .menuIcon::before {
    border-bottom: 2px solid;
    border-top: 6px double;
    content: "";
    font-size: 18px;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0.9em;
    width: 16px;
}
.mblog {
    display: none;
    position: absolute;
    right: 10px;
    top: 20px;
}
@media (max-width: 900px) {
    .mblog {
        display: block;
    }
}
.midRightBlocks {
    margin-top: 10px;
}
#widget-19.secondaryContent {
    border: medium none;
    box-shadow: none;
}
#logo img {
    height: 40px;
    margin-top: -3px;
}
#logoBlock {
    padding-left: 5px;
}