<!-- EVENT overall_footer_body_after -->
<footer>
    <div id="uix_stickyFooterSpacer"></div>
    <div class="footer">
        <div class="pageContent">
            <div class="pageWidth">
                <ul class="footerLinks">
                    <li><a class="tp001" style="color:#FFFFFF;" href="{U_INDEX}" class="homeLink"><i
                            class="icon fa-home fa-fw" aria-hidden="true"></i>{L_INDEX}</a></li>
                    <li><a class="tp001" href="#">Giúp đỡ</a></li>
                    <li><a class="tp001" href="#">Điều khoản & Quy định</a></li>
                    <li class="topLink">
                        <a href="#top"><i
                            class="icon fa-chevron-circle-up fa-fw icon-gray"></i> <span class="uix_hide">

                        </span></a></li>
                </ul>
                <span class="helper"></span>
            </div>
        </div>
    </div>
    <div class="bigFooter">
        <div class="pageContent">
            <div class="pageWidth">
                <ul class="bigFooterRow bigFooterRow--mainRow bigFooterRow--has4Columns">
                    <li class="bigFooterCol bigFooterCol--col1">
                        <div class="section">
                            <h3 class="bigFooterHeader">
                                Viettel Forum
                            </h3>
                            <ul class="footerMenu">
                                <li><a class="tp001" href="#">Giới thiệu</a></li>
                                <li><a class="tp001" href="#">Top trả lời</a></li>
                                <li><a class="tp001" href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bigFooterCol bigFooterCol--col3">
                        <div class="section">
                            <h3 class="bigFooterHeader">
                                Liên hệ
                            </h3>
                            <ul class="footerMenu">
                                <li><a class="tp001" href="{U_CONTACT_US}">{L_CONTACT_US}</a></li>
                                <li><a class="tp001" href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bigFooterCol bigFooterCol--col4">
                        <div class="section">
                            <h3 class="bigFooterHeader">
                                Liên kết
                            </h3>
                            <ul class="footerMenu">
                                <li><a class="tp001" href="#" target="_blank">Viettel Portal</a></li>
                                <li><a class="tp001" href="#" target="_blank">Viettel Telecom</a></li>
                                <li><a class="tp001" href="#" target="_blank">My Viettel</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Facebook Pixel Code -->
    <div id="uix_jumpToFixed">
        <a href="#XenForo" title="Lên đầu" data-position="top"><i class="uix_icon uix_icon-jumpToTop"></i></a>
    </div>
    <div class="bdRealtime_Loader"
         data-config="{&quot;pusherAppKey&quot;:&quot;ws&quot;,&quot;pusherOptions&quot;:{&quot;encrypted&quot;:true,&quot;apiHost&quot;:&quot;10.0.0.3&quot;,&quot;apiPort&quot;:8183,&quot;wsHost&quot;:&quot;nhattao.com&quot;,&quot;wsPort&quot;:80,&quot;wssPort&quot;:443},&quot;pollingEnabled&quot;:&quot;1&quot;,&quot;pollingOptions&quot;:{&quot;timestamp&quot;:1496242369,&quot;url&quot;:&quot;https:\/\/photo2.tinhte.vn\/data\/bdRealtime\/polling&quot;},&quot;bingUrl&quot;:&quot;&quot;,&quot;debugMode&quot;:false,&quot;channelPrefix&quot;:&quot;httpstinhtevnf2107ae2ffda03ad4574a858933db9fa&quot;,&quot;eventNamePrefix&quot;:&quot;ea70f884356c0ea0030a0c7cc308a419&quot;}"></div>
</footer>
<a href="#top"><div id="toTop" style="display: block;"> </div></a>
